.u-section-1 {
  background-image: linear-gradient(to right, #72efe9, #f9e79b);
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  background-image: none;
  margin: 257px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 30px 59px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 186px;
}

.u-section-2 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 230px;
  min-width: 134px;
  margin: 78px auto 60px;
}

.u-section-2 .u-icon-1 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-2 .u-icon-2 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-icon-3 {
  height: 100%;
  color: rgb(92, 107, 192) !important;
}